body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: #ffffff;
    text-align: center;
}
#winner {
    display: none; /* Initially hidden */
    text-align: center;
    font-size: 2em;
    color: green; /* Color of the winner text */
    margin-top: 20px;
    animation: fadeIn 1s ease-in; /* Fade in animation */
}
#dontRepeat {
    font-family: 'Arial', sans-serif; /* Choose a font family */
    font-size: 28px; /* Increase font size */
    color: red; /* You can change the color */
    text-align: center; /* Center the text */
    margin: 20px 0; /* Add some margin for spacing */
}
#initialScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background-color: #222;
    color: #d9feef;
    animation: fadeIn 1s ease;
}

#initialScreen h1 {
    font-size: 60px; /* Larger font for game name */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 24px;
    color: #4CAF50;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    width: 70%; 
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#playerBoxes {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.player-box {
    background-color: #4CAF50;
    color: rgb(32, 28, 28);
    border: 2px solid #685b11;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    width: 120px; /* Width for player box */
    text-align: center;
    animation: fadeIn 0.5s ease;
}

.highlight {
    border: 2px solid #FF5733; /* Highlight color */
}

#timer {
    font-size: 20px;
    color: #569c78;
}

#status {
    font-size: 20px;
    color: #8f908f;
    margin: 20px 0;
}

#restartButton {
    background-color: #12360b;
}

#restartButton:hover {
    background-color: #a9e619;
}

.category-list {
    margin: 10px;
    padding: 0;
}

.category-list div {
    background-color: #3F8A3F;
    color: rgb(14, 16, 15);
    border: 1px solid #5c7202;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
